
.test {
  max-width: 45rem;

  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
  z-index: 10;
}



.callup__container {
  padding: 5rem 0 10rem 0;
}
.card__image__holder {
  height: 40rem;
  width: 45rem;
  overflow: hidden;
  z-index: 15;
}

.card-text, .card-data, .card-title {
  margin: 0px !important;
}

.card-title {
  display: inline-block;
}

.card-title > span {
  margin: 0 .5rem;
}

.card__header {
  padding: 1rem 0;
}
.card__forWhat {
  color: var(--main-pink);
}

.card__body {
  background-color: #f7f7f7;
  padding: 0 1rem 1rem 1rem;
}

.peeps {
  padding: 7rem 0 5rem 0;
}

.peeps__header {
  padding-bottom: 5rem;
}

.button__container {
  text-align: center;
}
.button__learn__more {
  /* width: 100%; */
  background-color: transparent;
  color: var(--main-pink);
  border: none;
  border-bottom: 1px solid var(--main-pink);
  font-size: 1.5rem;
  margin-top: 1rem;
}
.button__learn__more:hover, .button__learn__more:active {
  color: var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
}

/* .callup {
  display: flex;
  height: ;
  flex: 0 0 30%;
  flex-direction: column;
}
.callup__image {

}
.callup__content {

}
.callup__content__title {

}
.callup__content__title__name {

}
.callup__content__title__for {

}
.callup__content__title__what {

}
.callup__content__title__who {

}

.callup__content__body {

}
.callup__content__body__verbiage {

}
.callup__content__footer {

}
.callup__content__footer__button {

} */
