.mainContent {
  display: flex;
  /* background-image: linear-gradient(rgba(230, 52, 98, .15), rgba(230, 52, 98, .15)), url('../../images/home.jpg'); */
  background-image: url('../../images/home.jpg');


  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  margin-top: -50px;
  padding: 100px 50px 50px 50px;
  justify-content: flex-end;
  flex-direction: column;
  font-family: var(--font-main-two);
  color: rgba(255, 68, 44,1);
  /* color: red; */
}

.mainContent__container {

}

.mainContent__lead, .mainContent__sub {
  display: inline-block;
  margin: 0;
  padding: 1rem;
  box-shadow: var(--box-shadow-light);
  background-color: rgba(255,255,255,.6);
  border-radius: 2px;

}

.mainContent__lead {
  font-size: 8rem;
}

.mainContent__sub {
  font-size: 4rem;
}
